[core]
    editor = subl -w
    autocrlf = false
[alias]
    glog = log --graph --all
    plog = log --graph --pretty=format:'%C(yellow)%h %Creset%ad %C(cyan)%an%Cgreen%d %Creset%s' --date=short --all
    nlog = log --graph --pretty=format:'%C(yellow)%h %Creset%ad %C(cyan)%an%Cgreen%d %Creset%s' --date=short -n
    last = log -1 HEAD
    unstage = reset HEAD --
    uncommit = reset --soft HEAD~1
    branches = branch --all
    st = status
    ch = checkout
    rh = reset --hard
    dl = diff HEAD^ HEAD
    ds = diff --cached
    dw = diff --color-words
    dst = diff --stat HEAD
    ca = commit -am
    cm = commit -m
    fe = fetch
    aa = add --all
    ap = add --all -p
    au = add -u
    cma = commit --amend -m
    rf = checkout --
    psu = push --set-upstream origin
[push]
    default = simple
[color]
    diff = auto
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
